		
		</div>
		<footer class="navbar navbar-expand-lg navbar-dark bg-dark">
		    <span class="navbar-text">
				&copy; 2017-2018 xwen.com.cn 版权所有 ICP证：京ICP备17021129号
		    </span>
		</footer>
	</div>
</body>
</html>