<%- include('header') %>
			<div class="col-md-2">
				<ul class="nav flex-column">
				  <li class="nav-item">
				    <a class="nav-link active" href="/user">用户管理</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="/content">内容管理</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="/setting">网站设置</a>
				  </li>
				</ul>
			</div>
			<div class="col-md-10">
				<%- include(part) %>
			</div>
<%- include('footer') %>
