<%- include('header') %>
<div class="col-md-2"></div>
<form class="col-md-8" action="/register" method="post">
  <div class="form-group">
    <label for="username">用户名：</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="password">密码：</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="form-group">
    <label for="password1">确认密码：</label>
    <input type="password" class="form-control" id="password1" name="password1">
  </div>
  <div class="form-group">
    <label for="captcha">验证码：</label>
    <input type="text" class="form-control" id="captcha" name="captcha">
    <img src="/captcha" onclick="this.src=this.src+'?'+Math.random()" />
  </div>
  <button type="submit" class="btn btn-primary">注册</button>
  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
</form>
<%- include('footer') %>
