<form action="/content/add" method="post">
  <div class="form-group">
    <label for="title">标题</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="form-group">
    <label for="container">内容</label>
    <textarea id="container" name="content" style="min-height: 400px;"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
</form>
<!-- 配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container', {
    	 toolbars: [
	        ['source']
	    ],
	    autoHeightEnabled: true,
	    autoFloatEnabled: true
    });
</script>
